.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .Link {
        text-decoration: none;
    }
}

.RecipeCard {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}